[submodule "libs/bcdec"]
	path = libs/bcdec
	url = https://github.com/iOrange/bcdec
[submodule "libs/half"]
	path = libs/half
	url = https://github.com/ramenhut/half
[submodule "libs/argparse"]
	path = libs/argparse
	url = https://github.com/p-ranav/argparse
[submodule "libs/lz4"]
	path = libs/lz4
	url = https://github.com/lz4/lz4
[submodule "libs/zstd"]
	path = libs/zstd
	url = https://github.com/facebook/zstd
